@inherits LayoutComponentBase
@inject IConfiguration config
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="@(config.GetValue<string>("DevOpsURL"))" target="_blank">Azure DevOps</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
